<style>
    @import url('/fonts/lxgwwenkai/style.css');
    @import url('/fonts/cascadia-code/index.css');

    :root {
        --zh-font-family: 'LXGW WenKai';
        --base-font-family: var(--zh-font-family), sans-serif;
        --code-font-family: 'Cascadia Code', var(--zh-font-family), monospace;
    }

    
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    .widget--toc {
        #TableOfContents {
            li {
                margin: 2px 0 2px 4px;
                padding: 2px;

                &>ul {
                    margin-top: 2px;
                    margin-bottom: -2px;
                }
            }
        }
    }

    /* .article-title {
        @include respond(xl) {
            font-size: 2.8rem;
        }
    }

    .article-subtitle {
        @include respond(xl) {
            font-size: 1.5rem;
        }
    }

    a {
        &:hover {
            border-radius: var(--tag-border-radius);
        }

        &.link {
            &:hover {
                box-shadow: 0px calc(-1 * var(--article-font-size) * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
            }
        }
    }
     */
</style>