name: Deploy Hugo site to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

env:
  CUSTOM_DOMAIN: blog.cloudorz.com

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: "deploy-hugo"
      cancel-in-progress: true

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Hugo resources
        uses: actions/cache@v4
        env:
          cache-name: cache-hugo-resources
        with:
          path: resources
          key: ${{ env.cache-name }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "^1.25"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Determine baseURL
        run: |
          if [ -n "${CUSTOM_DOMAIN}" ]; then
            echo "BASE_URL=https://${CUSTOM_DOMAIN}" >> $GITHUB_ENV
          else
            echo "BASE_URL=${{ steps.pages.outputs.base_url }}" >> $GITHUB_ENV
          fi

      - name: Build site with Hugo
        run: hugo --minify --gc --baseURL "${BASE_URL}"

      - name: Add custom domain
        if: ${{ env.CUSTOM_DOMAIN != '' }}
        run: echo "${CUSTOM_DOMAIN}" > ./public/CNAME

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    runs-on: ubuntu-latest
    needs: build-deploy
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
